.listar-professor{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 530px;
    background-color: white;
    display: flex;
}
.listar-professor p{
    margin: 10px;
    color: black;
    display: inline-block;
}
