.adicionar-transporte{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.adicionar-transporte input, button{
    margin: 10px;
    padding: 10px;
}