.deletar-atleta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-direction: column;
    height: 100%;
}
.deletar-atleta button, input{
    width: 400px;
    height: 40px;
    align-items: center;
    margin: 5px;
    font-size: 25px;
}
.deletar-atleta p{
    color: white;
}